* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.calendar-wrapper {
  padding-top: 20px;
  width: 80%;
  height: 100%;
  min-height: 700px;
  background-color: BlueViolet;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.command-wrapper {
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin-top: 15px;
}

.month-daylist {
  margin-top: 15px;
  padding: 10px;
}

.holiday {
  color: lightsalmon;
}
